# hidden files
.*
!.gitignore

# logs
*.log
logs/
.idea

# target folders
out/
bin/
target/
build/

# maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties

# tmp files
tmp/
*.bak
*.swp
*~.nib
*.iml
*.ipr
*.ips
*.iws